* {
  margin: 0;
}

/*Change header background colour to slight grey*/
.app {
  background-color: #fafafa;
  height: 100vh;
  
}

/*Keeps header image size*/
.app__header{
  max-width: 500px;
  max-height: 100px;
  background-color: white;
  padding: 20px;  
  border-bottom: 1px solid lightgray;
  object-fit: contain;
}

.app__signup{
  display: flex;
  flex-direction: column;
}

.modal-overlay{
  background-color: grey;
  margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.modal-card{
  background-color: white;
  width: 400px;
  padding: 20px;
}