* {
  margin: 0;
}

/*Change header background colour to slight grey*/
.app {
  background-color: #f6c5be;
  height: 100vh;
  
}

/*Keeps header image size*/
.app__header{
  max-height: 100px;
  background-color: #539e8a;
  padding: 20px;  
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.app__header > img {
  height: 80px;
  width:auto;
}

.app__signup{
  display: flex;
  flex-direction: column;
}

.modal-overlay{
  margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.modal-card{
  background-color: #539e8a;
  border-radius: 20px;
  width: 400px;
  padding: 20px;
}

.post-center{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}